.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}
.container::-webkit-scrollbar {
    display: none;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  position: absolute;
  z-index: -1;
  top: 0px;
  /* background-image: url("background.png"); */ /* depricated background image meathod */
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-shadow: 2px 1px black;
  transition: 0.7s;
  /* disable selecting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-title:hover {
  opacity: 0.20;
  filter: alpha(opacity=20);
}

#title {
  text-transform: uppercase;
  font-size: 2.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
  }
}

/* MENU BAR */
/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.4s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a.menuitem:hover {
  color: #f1f1f1;
  background-color: #181919;
}

.menuitem {
  height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Position the close button top right corner */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menuBTN {
  position: fixed;
  color: #f1f1f0;
  font-size: 5vh;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}


/* SEARCH BAR */
input#search-bar {
  position: relative;
  left: 3%;
  top: 25%;
  font-size: 26px;
  border-style: none;
  margin: auto;
  width: 60%;
  text-align: center;
  top: 60%;
  left: 50%;
  padding: 12px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  display: none;
  outline-color: #00AFFF;
}

.inputDark {
  color: #abb2bf;
  background-color: #21252b;
  outline-color: #00AFFF;
  outline-width: thick;
}

/* bellow website */
.websiteScroll {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fffff0;
  color: #abb2bf;
  margin: 0;
  padding: 0;
}

div iframe {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-style: none;
  margin: 0px;
  padding: 0;
  z-index: 0;
}
