.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 100%;
}

.product-container {
  padding: 20px;
  height: auto;
  max-width: 99%;
}

.product-container:hover {
	cursor: pointer;
	background-color: rgb(230, 230, 230);
}

.product-heading {
  text-decoration: bold;
  color: black;
}

.description {
  position: relative;
  top: -250px;
  left: 500px;
  max-width: calc(100% - 600px);
}

.product-thumbnail {
  width: 500px;
  height: 300px;
}

#minorProjects {
  position: relative;
  left: -500px;
  top: 150px;
}

a:link, a:visited, a:active {
  color: #333;
  text-decoration: none;
}

a:hover {
	color: #000;
}
