.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.product-container {;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 250px;
}

.product-container:hover {
	cursor: pointer;
	background-color: rgb(230, 230, 230);
}

.product-heading {
    text-decoration: bold;
    color: black;
}

a:link, a:visited, a:active {
	color: #333;
    text-decoration: none;
}

a:hover {
	color: #000;
}
