html {
  background-color: black;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  position: absolute;
  z-index: -1;
  top: 0px;
  background-image: url("../background.png"); */ /* depricated background image meathod */
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 35%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-shadow: 2px 1px black;
  transition: 0.7s;
  /* disable selecting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-title:hover {
  opacity: 0.20;
  filter: alpha(opacity=20);
}

#title {
  text-transform: uppercase;
  font-size: 2.4em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
  }
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* LINKS */
.link-container {
  position: absolute;
  text-align: center;
  top: calc( 35% + 120px );
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  max-width: 700px;
}

.link-container > a:active, a {
  color: #eee;
  font-size: 1.8em;
  text-decoration: none;
  padding: 10px;
}

.link-container > a:hover{
  color: #fff;
  font-size: 2em;
}

/* BELLOW WEBSITE */
.websiteScroll {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  color: #abb2bf;
  margin: 0;
  padding: 0;
}

div iframe {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-style: none;
  margin: 0px;
  padding: 0;
  z-index: 0;
}
