body {
	margin:10px;
	background-color: #21252b;
}
textarea {
	width: 100%;
	height:calc(100vh - 100px);
}
input {
	margin: 0 0 10px 0;
}
#save {
	float:right;
}
#mainInput {
	position: relative;
	border-style: none;
	color: #abb2bf;
	background-color: #282c34;
	left: -9px;
	font-size: 15px;
	width: 100%;
	outline: none !important; /* stop blue outline */
}
input[type="button"] {
	border-style: solid;
	border-width: thin;
	border-color: #abb2bf;
	color: #d7dae0;
	background-color: #282c34;
	font-size: 14px;
	padding: 2.5px;
	padding-bottom: 5px !important;
}
